.main {
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5rem;
    color: rgb(45, 62, 70);
}
.button {
    height: 60px;
    text-transform: uppercase;
    color: #fff;
    background-color: #089cfc;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    transition: all ease 0.2s;
}
.button:hover {
    background-color: #047fd1;
    cursor: pointer;
}
.button:active {
    background-color: #0160a0;
}